// 🎨 Palette de couleurs imposée
$white:   #f1f8fc;
$blue1:   #0074c7;
$blue2:   #00497c;
$grey:    #384050;
$red:     #cd2c2e;
$green:   #82b864;

// Exemple de variables globales
$body-bg: $white;
$text-color: $grey;
